dist: xenial
language: python
cache: pip

matrix:
  include:
    - python: "3.7"

addons:
  apt:
    update: true
    sources:
      - ubuntu-toolchain-r-test
    packages:
  homebrew:
    update: true
    packages:
      - python

install: 
  - python3 -m pip install -e .[dev]

script:
  - make lint
  - make tests

after_success:
    - codecov --token ce4cddf7-dad5-4d08-8e93-ae8cd7d98507

branches:
  only:
  - master

notifications:
  email: false
