name: Build Status

on:
  push:
  pull_request:
  schedule:
    # run on sunday nights
    - cron:  '0 0 * * 0'

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7, 3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel twine
        python -m pip install -e .[dev]

    - name: Lint
      run: |
        make lint

    - name: Test
      run: |
        make tests

    - name: Twine check
      run: |
        make dist

    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
        name: pytest-results-${{ matrix.os }}-${{ matrix.python-version }}
        path: python_junit.xml
      if: ${{ always() }}

    - name: Upload coverage
      uses: codecov/codecov-action@v1
